@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blob {
    0% {
        border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }
    50% {
        border-radius: 40% 60%;
    }
    100% {
        border-radius: 70% 30%;
    }
}

#blob {
    animation: blob 25s linear infinite alternate, rotate 100s linear infinite;
    width: 80vmax;
    height: 80vmax;
    top: calc(50vh - 40vmax);
    left: calc(50vw - 40vmax);
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    background: rgb(222, 247, 116);
    background: linear-gradient(90deg, var(--au-color-7) 0%, var(--au-color-8-comp) 100%);
}